#Python - Data Structure Assignment

##Data Types and Structures Questions


**Q 1. What are data structures, and why are they important?**

**Ans**: Data structures are ways of organizing and storing data so that operations like access, insertion, deletion, and modification can be performed efficiently.
They are crucial for writing efficient programs and solving complex problems.

**Q 2. Explain the difference between mutable and immutable data types with examples.**

In [1]:
#- Mutable: Can be changed after creation (e.g., List, Dictionary, Set).
my_list = [1, 2, 3]
my_list[0] = 4  # Changes list
print(my_list)

# Immutable: Cannot be changed after creation (e.g., String, Tuple).
my_string = "Hello"
my_string += " World"  # Creates new string
print(my_string)

**Q 3. What are the main differences between lists and tuples in Python?**

Mutability is the key difference: Lists are mutable (changeable), while tuples are immutable (unchangeable).  This affects how they're used; lists are for dynamic data, tuples for fixed data.

**Q 4. Describe how dictionaries store data.**

Dictionaries store data as key-value pairs. Keys must be unique and immutable, while values can be of any type.

Example:
student = {"name": "John", "age": 21}

**Q 5. Why might you use a set instead of a list in Python?**

- Sets automatically remove duplicate values.
- They offer faster membership testing than lists.

**Q 6. What is a string in Python, and how is it different from a list?**

- A string is a sequence of characters, immutable.
- A list can contain elements of any type and is mutable.

**Q 7. How do tuples ensure data integrity in Python?**
- Because tuples are immutable, once created, their data cannot be changed, ensuring that critical data remains safe.

**Q 8. What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table stores data in an associative manner using a hash function to compute an index.
Python dictionaries are implemented using hash tables.

**Q 9. Can lists contain different data types in Python?**
- Yes, a list can contain multiple data types.
Example: mixed_list = [1, "hello", 3.5, True]

**Q 10. Explain why strings are immutable in Python.**
- Strings are immutable for efficiency and security reasons. Any operation that modifies a string actually creates a new string.

**Q 11. What advantages do dictionaries offer over lists for certain tasks?**
- Faster lookups (constant time complexity O(1)).
- Better for mapping relationships between data.

**Q 12. Describe a scenario where using a tuple would be preferable over a list.**
- When you want to ensure data doesn't change, like storing latitude and longitude coordinates.  The immutability of tuples guarantees that these values remain constant throughout the program.

**Q 13. How do sets handle duplicate values in Python?**
- Sets automatically eliminate duplicate values.

In [3]:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

**Q 14. How does the “in” keyword work differently for lists and dictionaries?**
- In lists: Checks if an element exists.

- In dictionaries: Checks if a key exists (not the value).

**Q 15. Can you modify the elements of a tuple? Explain why or why not.**
- No, tuples are immutable; once created, their elements cannot be changed.

**Q 16. What is a nested dictionary, and give an example of its use case?**
- A dictionary inside another dictionary. Example:

In [6]:
employee = {
    "name": "Alice",
    "details": {"age": 30, "position": "Manager"}
}

- Accessing an element by key in a dictionary generally has O(1) time complexity (constant time).

**Q 18. In what situations are lists preferred over dictionaries?**
- When order matters.

- When the relationship between items isn't key-value based.

**Q 19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Dictionaries store elements based on the hash of the key, not in the order they were inserted.

- Retrieval is by key, not by position.

(Note: As of Python 3.7+, insertion order is preserved, but conceptually they are still accessed by key.)

**Q 20. Explain the difference between a list and a dictionary in terms of data retrieval.**
- List: Retrieve items by index.

- Dictionary: Retrieve items by key.

##Practical Questions

**Q 1. Write a code to create a string with your name and print it.**

In [7]:
name = "Rahul"
print(name)

Rahul

**Q 2. Write a code to find the length of the string "Hello World".**

In [8]:
text = "Hello World"
print(len(text))

11

**Q 3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [9]:
text = "Python Programming"
print(text[:3])

Pyt

**Q 4. Write a code to convert the string "hello" to uppercase.**

In [10]:
text = "hello"
print(text.upper())

HELLO

**Q 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [11]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

**Q 6. Write a code to create a list with numbers 1 to 5 and print it.**

In [14]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

**Q 7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [15]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

**Q 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [16]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

**Q 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [17]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

**Q 10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [18]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

**Q 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [19]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

**Q 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [24]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

**Q 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [25]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

**Q 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [26]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

**Q 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [27]:
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

**Q 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [28]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

**Q 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [29]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

**Q 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [31]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

**Q 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [32]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

**Q 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [33]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

**Q 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [34]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

**Q 22. Write a code to add a new key-value pair "country":"USA" to the dictionary {'name': 'John', 'age': 25}.**

In [35]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Q 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [44]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

**Q 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [42]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

**Q 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [45]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

**Q 26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [46]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

**Q 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

In [47]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[13, 29, 34, 42, 75]

**Q 28. Write a code to create a list with strings and print the element at the third index.**

In [50]:
words = ["apple", "banana", "cherry", "date"]
print(words[3])

date

**Q 29. Write a code to combine two dictionaries into one and print the result.**

In [51]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Q 30. Write a code to convert a list of strings into a set.**

In [52]:
words = ["apple", "banana", "cherry"]
words_set = set(words)
print(words_set)

{'banana', 'cherry', 'apple'}